<%- include('partials/profileHeader') -%>
  <h1>Study Page</h1>
  <h2>Under Construction, Check again for updates.</h2>
  <h4>Create and Add custom cards to your deck below.</h4>
  <h4 class="deckTitle">Decks:</h4>


  <div id="deckContainer">
  </div>

  <!-- Trigger/Open The Modal -->
  <button id="myBtn"><i class="fa-solid fa-circle-plus"></i></button>

  <!-- The Modal -->
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content" id="deckModalContent">
      <span class="close">&times;</span>
      <form action="/study/deck" method="POST">

        <label for="title">Deck Name:</label>
        <input name="title" class="deckInput" type="text" placeholder="Letters i'm struggling with" required>


        <button class="deckButton" type="submit">Create</button>

      </form>
    </div>
  </div>


  <div id="myModalTwo" class="modal">
    <div class="modal-content" id="cardModalContent">
      <span class="close">&times;</span>
      <section>
        <% for(var i=0; i<deckContainer.length; i++) {%>
          <form action="/study/card/<%= deckContainer[i].id %>" method="POST">
            <%}%>
              <label for="letter">Word:</label>
              <select name="letter" placeholder="Z" required>
                <option value="a">A</option>
                <option value="b">B</option>
                <option value="c">C</option>
              </select>


              <button class="cardButton" type="submit">Submit</button>
          </form>
      </section>
    </div>
  </div>

  <div id="myModalThree" class="modal">
    <div class="modal-content rounded" id="studyDeckModalContent">
      <span class="close">&times;</span>
      <% let cardsArray=[] %>
        <% let cardsCopy=cards %>
          <% for (var y=0; y < cards.length; y++) { %>
            <% cardsArray.push(cardsCopy[y].letter) %>
              <%} console.log("cardsCopy",cardsCopy)%>
                <% for (let x=cardsCopy.length - 1; x> 0; x--) { %>
                  <% const j=Math.floor(Math.random() * (x + 1)); %>
                    <% [cardsCopy[x], cardsCopy[j]]=[cardsCopy[j], cardsCopy[x]]; %>
                      <% }console.log(cardsCopy)%>
                        <ul class="list-group">
                          <% if (!cards.length) { %>
                            <li class="list-group-item" style="background-color: #FFDAB9;">
                              <h2>Add cards to your deck to begin studying.</h2>
                            </li>
                            <% } %>
                              <% for (var i=0; i < cards.length; i++) { %>
                                <li class="list-group-item cards" style="background-color: #FFEFD5;">
                                  <div class="row cardFormat">
                                    <div class="col-md-5 frontOfCard">
                                      <img src="lettersFlashCardFront/<%= cardsCopy[i].letter %>.png">
                                    </div>
                                    <div class="col-md-5 backOfCard hideCard">
                                      <img src="lettersFlashCardBack/<%= cardsCopy[i].letter %>.png">
                                    </div>
                                    <div class="col-md-2 text-right cardFormatButtons">
                                      <button class="flip btn btn-primary rounded-pill">Answer</button>
                                      <button class="flip btn btn-primary rounded-pill">Next Card</button>
                                    </div>
                                  </div>
                                </li>
                                <% } %>
                        </ul>
    </div>
  </div>

  <!-- <div class="dropdown">
    <span class="nav-link liveLink dropdown-toggle" id="profile-btn" href="">Profile</span>
    <div class="dropdown-menu">
      <a href="" class="col-3 btn btn-primary dropdown-item">Account</a>
      <a href="/logout" class="col-3 btn btn-primary dropdown-item">Logout</a>
    </div>
  </div> -->


  <ul class="dropDownParent">
    <% for(var i=0; i<deckContainer.length; i++) {%>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-1 dropdown downMenu">
            <span class="pointer deckToggle nav-link liveLink dropdown-toggle" id="<%=i%>">
              <%= deckContainer[i].title %>
            </span>
            <div>
              <div class="dropdown-menu deckMenu deckMenuDisappear">
                <span class="col-3 btn btn-primary dropdown-item study dropdownDisappear">Study</span>
                <span class="col-3 btn btn-primary dropdown-item addCards dropdownDisappear">Add Cards</span>
                <span class="col-3 btn btn-primary dropdown-item deleteCards dropdownDisappear">Delete Cards</span>
                <span class="col-3 btn btn-primary dropdown-item deleteDeck dropdownDisappear">Delete Deck</span>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-1 text-right">
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div> -->
        </div>
      </li>
      <% } %>
  </ul>


  <%- include('partials/profileFooter') -%>